In [8]:
import numpy as np
import pandas as pd
from scipy.io import loadmat
import matplotlib.pyplot as plt
from sysidentpy.model_structure_selection import FROLS
from sysidentpy.metrics import root_relative_squared_error
from sysidentpy.utils.display_results import results
from sysidentpy.utils.plotting import plot_residues_correlation, plot_results
from sysidentpy.residues.residues_correlation import compute_residues_autocorrelation, compute_cross_correlation


data = loadmat('dispersionpoints.mat')
print(data.keys())

dict_keys(['__header__', '__version__', '__globals__', 'ESP', 'lamda1', 'x1'])

In [9]:
data_lambda = data['lamda1']

#First and last run preview
display(data_lambda[:,:,0])
display(data_lambda[:,:,99])

#tensor flatten and stack
lambda1 = data_lambda.transpose(1,2,0).reshape(-1,data_lambda.shape[1])
display(lambda1)
display(lambda1.shape)

#base on
#https://stackoverflow.com/questions/35992458/convert-reshape-3d-matrix-to-a-2d-matrix

array([[0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 6.68424850e-04, 0.00000000e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 1.33633598e-03, 0.00000000e+00],
       ...,
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        8.26254997e-01, 1.00671452e+00, 1.02473435e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        8.26877362e-01, 1.00802210e+00, 1.02609304e+00],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        8.27499826e-01, 1.00933069e+00, 1.02745084e+00]])

array([[0.00000000e+000, 0.00000000e+000, 0.00000000e+000, ...,
        0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000, ...,
        0.00000000e+000, 5.06806211e-253, 0.00000000e+000],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000, ...,
        0.00000000e+000, 1.01322291e-252, 0.00000000e+000],
       ...,
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000, ...,
        4.06197666e-001, 4.24970087e-001, 2.54093240e-001],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000, ...,
        4.06926305e-001, 4.25343292e-001, 2.54330546e-001],
       [0.00000000e+000, 0.00000000e+000, 0.00000000e+000, ...,
        4.07653070e-001, 4.25716238e-001, 2.54567746e-001]])

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.21115606, 0.21146157, 0.21176981, ..., 0.21832627, 0.21879533,
        0.21924649],
       [0.21968168, 0.22010254, 0.22051054, ..., 0.23807601, 0.23832682,
        0.23857723],
       [0.23882726, 0.23907691, 0.2393262 , ..., 0.25409324, 0.25433055,
        0.25456775]])

(149900, 66)

In [10]:
#Espessura
ESP = pd.DataFrame(data['ESP'].reshape(-1,))
print(ESP.shape)
display(ESP)

#Comprimento de onda normalizado
lambda1 = pd.DataFrame(lambda1, columns = range(0,66))

#frequências normalizadas
x1 = data['x1']
print(x1.shape)
x1flat = x1.flatten()
x1_df = pd.DataFrame(x1flat)
x1_df

(100, 1)

         0
0   0.0300
1   0.0298
2   0.0296
3   0.0294
4   0.0292
..     ...
95  0.0110
96  0.0108
97  0.0106
98  0.0104
99  0.0102

[100 rows x 1 columns]

(1499, 100)

              0
0       0.00000
1       0.00000
2       0.00000
3       0.00000
4       0.00000
...         ...
149895  1.64780
149896  1.61784
149897  1.58788
149898  1.55792
149899  1.52796

[149900 rows x 1 columns]

In [56]:
display(ESP.describe())
display(lambda1.describe())
display(x1_df.describe())

                0
count  100.000000
mean     0.020100
std      0.005802
min      0.010200
25%      0.015150
50%      0.020100
75%      0.025050
max      0.030000

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
count,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,...,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000
mean,0.018834,0.018936,0.018726,0.018738,0.018546,0.018620,0.018660,0.018717,0.019008,0.018894,...,0.018314,0.018543,0.018506,0.018532,0.018388,0.018575,0.018622,0.018485,0.018443,0.018610
std,0.113570,0.113991,0.112959,0.113266,0.112436,0.112884,0.112768,0.113146,0.114332,0.113628,...,0.111107,0.112441,0.112418,0.112228,0.111567,0.112434,0.112759,0.112288,0.112005,0.112803
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.566566,1.515966,1.516970,1.517973,1.518975,1.519978,1.520981,1.521984,1.522987,1.523989,...,1.556736,1.557719,1.558702,1.559685,1.560668,1.561651,1.562634,1.563617,1.564600,1.565583

                   0
count  149900.000000
mean        1.505490
std         1.002949
min         0.000000
25%         0.685440
50%         1.371780
75%         2.174420
max         4.494000

NARX

In [13]:
#lambda1.insert(0, "x1",x1_df)
lambda1.describe()

,x1,0,1,2,3,4,5,6,7,8,...,56,57,58,59,60,61,62,63,64,65
count,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,...,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000,149900.000000
mean,1.505490,0.018834,0.018936,0.018726,0.018738,0.018546,0.018620,0.018660,0.018717,0.019008,...,0.018314,0.018543,0.018506,0.018532,0.018388,0.018575,0.018622,0.018485,0.018443,0.018610
std,1.002949,0.113570,0.113991,0.112959,0.113266,0.112436,0.112884,0.112768,0.113146,0.114332,...,0.111107,0.112441,0.112418,0.112228,0.111567,0.112434,0.112759,0.112288,0.112005,0.112803
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.685440,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.371780,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.174420,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,4.494000,1.566566,1.515966,1.516970,1.517973,1.518975,1.519978,1.520981,1.521984,1.522987,...,1.556736,1.557719,1.558702,1.559685,1.560668,1.561651,1.562634,1.563617,1.564600,1.565583

In [ ]:
basis_function = Polynomial(degree=2)

model = FROLS(
    order_selection=True,
    n_info_values=3,
    extended_least_squares=False,
    ylag=2, xlag=2,
    info_criteria='aic',
    estimator='least_squares',
    basis_function=basis_function
)

model.fit(X=x_train, y=y_train)
yhat = model.predict(X=x_valid, y=y_valid)

In [ ]:
rrse = root_relative_squared_error(y_valid, yhat) 
print(rrse) 

result = pd.DataFrame(results(model.final_model, model.theta,
                         model.err, model.n_terms,
                         err_precision=8, dtype='sci' ),
                 columns=['Regressors', 'Parameters', 'ERR'])
print(result)

In [ ]:
plot_results(y=y_valid, yhat=yhat, n=1000)
ee = compute_residues_autocorrelation(y_valid, yhat)
plot_residues_correlation(data=ee, title="Residues", ylabel="e2e2e^2")
x1e = compute_cross_correlation(y_valid, yhat, x_valid)
plot_residues_correlation(data=x1e, title="Residues", ylabel="x1ex1ex_1e")

xaxis = np.arange(1, model.n_info_values + 1)
plt.plot(xaxis, model.info_values)
plt.xlabel('n_terms')
plt.ylabel('Information Criteria')